@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif; /* Definindo Poppins como fonte padrão */
}


/* Para elementos que usam a fonte Montserrat */
h1, h2, h3, .montserrat {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}


@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 18s linear infinite;
}